<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Poll Owner</th>
      <th>Creation Date</th>
    </tr>
  </thead>

  <tbody>
    <% @news_feed_polls.each do |user_poll| %>
      <tr>
        <td><%= link_to user_poll.title, user_poll %></td>
        <% user_poll_owner = User.find(user_poll.user_id) %>
        <td><%= "#{user_poll_owner.first_name} #{user_poll_owner.last_name}" %></td>
        <td><%= user_poll.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @can_show_more_news_feed_polls %>
  <button data-news-feed-polls-request-size=<%= "#{@next_news_feed_polls_request_size}" %>>Show more</button>
<% end %>
