<p id="notice"><%= notice %></p>

<h2>News Feed</h2>

<div id="news-feed-polls">
<%= render 'news_feed_polls' %>
</div>

<h2>Your Polls</h2>

<div id="current-user-polls">
<%= render 'current_user_polls' %>
</div>

<br> <br>
<%= render 'sign_in_out' %>
