<%= render partial: "shared/navbar" %>
<br>
<div class="container WhiteText">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="WhiteText">Let's create a new survey!</h1><br>
      <%= render 'form' %>
    </div>
  </div>
  <br>
</div>
