<% if @matching_users.length == 0 %>
  <p>No match found!</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @matching_users.each do |user| %>
        <tr>
          <td><%= "#{user.first_name} #{user.last_name}" %></td>
          <td><%= user.description %></td>
          <td><%= get_friend_action(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
