<%= javascript_include_tag 'friendships/new', 'data-turbolinks-track' => true %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Add a friend</h1>
      <input type="text" id="user-search-field" placeholder="Name"></input><br>
      <button data-search-users>Search users</button>
      <div id="search-users-friend-request-results"></div>
    </div>
  </div>

  <%= link_to "Back", root_path %>
</div>
