<% if @current_user_polls.length == 0 %>
  <p>You don't have any polls yet!</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @current_user_polls.each do |user_poll| %>
        <tr>
          <td><%= link_to user_poll.title, user_poll %></td>
          <td><%= user_poll.created_at.to_s(:long) %></td>
          <td><%= link_to 'Delete', user_poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @can_show_more_current_user_polls %>
    <button data-current-user-polls-request-size=<%= raw("\"#{@next_current_user_polls_request_size}\"") %>>Show more</button>
  <% end %>
<% end %>
