<div class="modal fade" id="share-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share with a friend!</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
