.contentContainer {
    background-image: asset-url('login_bg');
    width: 100%;
    background-size: cover;
    background-color: #fff;
}
.col-bg {
    background-color: #fff;
}
h3 {
    text-align: center;
}