.contentContainer {
    background-image: asset-url('login_bg');
    width: 100%;
    background-size: cover;
    background-color: #fff;
}
.col-bg {
    background-color: #fff;
}
h3 {
    text-align: center;
}
.MainBG {
    text-align: center;
    background-image: asset-url('ProfileBG');
    background-size: cover;
    background-color: #fff;
    color: #02C39A;
}
.CenterText{
    text-align: center;
}