.contentContainer {
    background-image: asset-url('login_bg');
    width: 100%;
    background-size: cover;
    background-color: #fff;
}
.col-bg {
    background-color: #fff;
}
h3 {
    text-align: center;
}
.MainBG {
    text-align: center;
    background-image: asset-url('ProfileBG');
    background-size: cover;
    background-color: #fff;
    color: #02C39A;
}
.CenterText{
    text-align: center;
}
.CenterWhiteText{
    text-align: center;
    color: #fff;
}
.WhiteText{
    color: #fff;
}
.CenterLightGreyText{
    text-align: center;
    color: #E8E8E8;
}
.VoteContainer{
    color: #fff;
}
.VoteHeader{
    background-color: #fff;
    text-align: center;
    color: #02C39A;
}

a:active {
    color: #000;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}